/*! CSS Used from: https://vanij.adya.ai/assets/index-BM0a5d4U.css */
.pointer-events-none {
    pointer-events: none !important;
}
.absolute {
    position: absolute !important;
}
.relative {
    position: relative !important;
}
.left-4 {
    left: 1rem !important;
}
.top-1\/2 {
    top: 50% !important;
}
.ml-auto {
    margin-left: auto !important;
}
.mt-3 {
    margin-top: 0.75rem !important;
}
.mt-5 {
    margin-top: 1.25rem !important;
}
.mt-auto {
    margin-top: auto !important;
}
.line-clamp-1 {
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 1 !important;
}
.line-clamp-2 {
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
}
.line-clamp-3 {
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 3 !important;
}
.flex {
    display: flex !important;
}
.inline-flex {
    display: inline-flex !important;
}
.grid {
    display: grid !important;
}
.aspect-square {
    aspect-ratio: 1 / 1 !important;
}
.h-4 {
    height: 1rem !important;
}
.h-5 {
    height: 1.25rem !important;
}
.h-7 {
    height: 1.75rem !important;
}
.h-9 {
    height: 2.25rem !important;
}
.h-full {
    height: 100% !important;
}
.max-h-\[14rem\] {
    max-height: 14rem !important;
}
.w-4 {
    width: 1rem !important;
}
.w-5 {
    width: 1.25rem !important;
}
.w-7 {
    width: 1.75rem !important;
}
.w-fit {
    width: -moz-fit-content !important;
    width: fit-content !important;
}
.w-full {
    width: 100% !important;
}
.min-w-64 {
    min-width: 16rem !important;
}
.min-w-max {
    min-width: -moz-max-content !important;
    min-width: max-content !important;
}
.max-w-72 {
    max-width: 18rem !important;
}
.max-w-96 {
    max-width: 24rem !important;
}
.flex-1 {
    flex: 1 1 0% !important;
}
.shrink-0 {
    flex-shrink: 0 !important;
}
.-translate-y-1\/2 {
    --tw-translate-y: -50% !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}
.cursor-not-allowed {
    cursor: not-allowed !important;
}
.cursor-pointer {
    cursor: pointer !important;
}
.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}
.grid-cols-\[repeat\(auto-fill\,minmax\(17rem\,1fr\)\)\] {
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr)) !important;
}
.flex-col {
    flex-direction: column !important;
}
.items-start {
    align-items: flex-start !important;
}
.items-center {
    align-items: center !important;
}
.justify-center {
    justify-content: center !important;
}
.justify-between {
    justify-content: space-between !important;
}
.gap-2 {
    gap: 0.5rem !important;
}
.gap-3 {
    gap: 0.75rem !important;
}
.gap-4 {
    gap: 1rem !important;
}
.gap-5 {
    gap: 1.25rem !important;
}
.gap-6 {
    gap: 1.5rem !important;
}
.gap-x-4 {
    -moz-column-gap: 1rem !important;
    column-gap: 1rem !important;
}
.gap-x-5 {
    -moz-column-gap: 1.25rem !important;
    column-gap: 1.25rem !important;
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0 !important;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse)) !important;
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse))) !important;
}
.space-y-1 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0 !important;
    margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse))) !important;
    margin-bottom: calc(0.25rem * var(--tw-space-y-reverse)) !important;
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0 !important;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse))) !important;
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse)) !important;
}
.space-y-3 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0 !important;
    margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse))) !important;
    margin-bottom: calc(0.75rem * var(--tw-space-y-reverse)) !important;
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0 !important;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse))) !important;
    margin-bottom: calc(1rem * var(--tw-space-y-reverse)) !important;
}
.space-y-5 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0 !important;
    margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse))) !important;
    margin-bottom: calc(1.25rem * var(--tw-space-y-reverse)) !important;
}
.overflow-auto {
    overflow: auto !important;
}
.overflow-hidden {
    overflow: hidden !important;
}
.truncate {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}
.whitespace-nowrap {
    white-space: nowrap !important;
}
.rounded {
    border-radius: 0.25rem !important;
}
.rounded-\[inherit\] {
    border-radius: inherit !important;
}
.rounded-full {
    border-radius: 9999px !important;
}
.rounded-lg {
    border-radius: var(--radius) !important;
}
.rounded-md {
    border-radius: calc(var(--radius) - 2px) !important;
}
.rounded-xl {
    border-radius: 0.75rem !important;
}
.rounded-l-lg {
    border-top-left-radius: var(--radius) !important;
    border-bottom-left-radius: var(--radius) !important;
}
.rounded-r-lg {
    border-top-right-radius: var(--radius) !important;
    border-bottom-right-radius: var(--radius) !important;
}
.border {
    border-width: 1px !important;
}
.border-foreground\/10 {
    border-color: hsl(var(--foreground) / 0.1) !important;
}
.border-input {
    border-color: hsl(var(--input)) !important;
}
.border-transparent {
    border-color: transparent !important;
}
.bg-agent-studio-background {
    background-color: var(--agent-studio-background) !important;
}
.bg-background {
    background-color: hsl(var(--background)) !important;
}
.bg-white {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}
.bg-white\/70 {
    background-color: #ffffffb3 !important;
}
.bg-\[size\:200\%_200\%\] {
    background-size: 200% 200% !important;
}
.object-contain {
    -o-object-fit: contain !important;
    object-fit: contain !important;
}
.object-center {
    -o-object-position: center !important;
    object-position: center !important;
}
.p-1 {
    padding: 0.25rem !important;
}
.p-2 {
    padding: 0.5rem !important;
}
.p-4 {
    padding: 1rem !important;
}
.px-2\.5 {
    padding-left: 0.625rem !important;
    padding-right: 0.625rem !important;
}
.px-3 {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}
.px-4 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.px-6 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}
.py-0\.5 {
    padding-top: 0.125rem !important;
    padding-bottom: 0.125rem !important;
}
.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}
.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}
.pb-2 {
    padding-bottom: 0.5rem !important;
}
.pl-10 {
    padding-left: 2.5rem !important;
}
.pt-1 {
    padding-top: 0.25rem !important;
}
.pt-4 {
    padding-top: 1rem !important;
}
.text-2xl {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
}
.text-base {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
}
.text-lg {
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
}
.text-sm {
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
}
.text-xl {
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
}
.text-xs {
    font-size: 0.75rem !important;
    line-height: 1rem !important;
}
.font-bold {
    font-weight: 700 !important;
}
.font-medium {
    font-weight: 500 !important;
}
.font-semibold {
    font-weight: 600 !important;
}
.capitalize {
    text-transform: capitalize !important;
}
.\!text-foreground {
    color: hsl(var(--foreground)) !important;
}
.text-background {
    color: hsl(var(--background)) !important;
}
.text-foreground {
    color: hsl(var(--foreground)) !important;
}
.text-gray-700 {
    --tw-text-opacity: 1 !important;
    color: rgb(55 65 81 / var(--tw-text-opacity)) !important;
}
.text-muted-foreground {
    color: hsl(var(--muted-foreground)) !important;
}
.text-muted-foreground\/50 {
    color: hsl(var(--muted-foreground) / 0.5) !important;
}
.text-secondary-foreground {
    color: hsl(var(--secondary-foreground)) !important;
}
.opacity-100 {
    opacity: 1 !important;
}
.opacity-50 {
    opacity: 0.5 !important;
}
.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1) !important;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
        0 1px 2px -1px var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
.shadow-none {
    --tw-shadow: 0 0 #0000 !important;
    --tw-shadow-colored: 0 0 #0000 !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
.ring-offset-background {
    --tw-ring-offset-color: hsl(var(--background)) !important;
}
.transition-\[background-position\] {
    transition-property: background-position !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 0.15s !important;
}
.transition-all {
    transition-property: all !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 0.15s !important;
}
.transition-colors {
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 0.15s !important;
}
.duration-300 {
    transition-duration: 0.3s !important;
}
.duration-500 {
    transition-duration: 0.5s !important;
}
.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
}
.duration-300 {
    animation-duration: 0.3s !important;
}
.duration-500 {
    animation-duration: 0.5s !important;
}
.ease-in-out {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
}
:focus-visible {
    outline: none !important;
    outline-offset: 0px !important;
}
.placeholder\:text-muted-foreground::placeholder {
    color: hsl(var(--muted-foreground)) !important;
}
.hover\:bg-muted:hover {
    background-color: hsl(var(--muted)) !important;
}
.hover\:bg-secondary\/80:hover {
    background-color: hsl(var(--secondary) / 0.8) !important;
}
.hover\:underline:hover {
    text-decoration-line: underline !important;
}
.hover\:shadow-md:hover {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
        0 2px 4px -2px var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
.hover\:shadow-sm:hover {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
.focus\:outline-none:focus {
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
}
.focus\:ring-2:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
        var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
        calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
        var(--tw-shadow, 0 0 #0000) !important;
}
.focus\:ring-ring:focus {
    --tw-ring-color: hsl(var(--ring)) !important;
}
.focus\:ring-offset-2:focus {
    --tw-ring-offset-width: 2px !important;
}
.disabled\:pointer-events-none:disabled {
    pointer-events: none !important;
}
.disabled\:cursor-not-allowed:disabled {
    cursor: not-allowed !important;
}
.disabled\:bg-muted:disabled {
    background-color: hsl(var(--muted)) !important;
}
.disabled\:\!text-muted-foreground:disabled {
    color: hsl(var(--muted-foreground)) !important;
}
.disabled\:text-foreground\/50:disabled {
    color: hsl(var(--foreground) / 0.5) !important;
}
.disabled\:opacity-100:disabled {
    opacity: 1 !important;
}
.disabled\:opacity-50:disabled {
    opacity: 0.5 !important;
}
@media (min-width: 640px) {
    .sm\:rounded-lg {
        border-radius: var(--radius) !important;
    }
}
@media (min-width: 768px) {
    .md\:col-span-3 {
        grid-column: span 3 / span 3 !important;
    }
    .md\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }
    .md\:text-sm {
        font-size: 0.875rem !important;
        line-height: 1.25rem !important;
    }
}
.\[\&_svg\]\:pointer-events-none svg {
    pointer-events: none !important;
}
.\[\&_svg\]\:size-4 svg {
    width: 1rem !important;
    height: 1rem !important;
}
.\[\&_svg\]\:shrink-0 svg {
    flex-shrink: 0 !important;
}
*,
:before,
:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}
:before,
:after {
    --tw-content: "";
}
h1,
h2 {
    font-size: inherit;
    font-weight: inherit;
}
button,
input {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
button {
    text-transform: none;
}
button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
h1,
h2,
p {
    margin: 0;
}
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
input::placeholder {
    opacity: 1;
    color: #9ca3af;
}
button {
    cursor: pointer;
}
:disabled {
    cursor: default;
}
img,
svg {
    display: block;
    vertical-align: middle;
}
img {
    max-width: 100%;
    height: auto;
}
* {
    border-color: hsl(var(--border));
}
*,
:before,
:after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
}
/*! CSS Used from: Embedded */
.css-o3d33y {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.6);
}
.css-nhb8h9 {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.css-7rg7fp {
    display: inline-flex;
    border-radius: 4px;
}
.css-7rg7fp .MuiToggleButtonGroup-firstButton {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.css-7rg7fp .MuiToggleButtonGroup-lastButton {
    margin-left: -1px;
    border-left: 1px solid transparent;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.css-1hwqkh2 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 7px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.54);
}
@media print {
    .css-1hwqkh2 {
        print-color-adjust: exact;
    }
}
.css-1hwqkh2:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.04);
}
@media (hover: none) {
    .css-1hwqkh2:hover {
        background-color: transparent;
    }
}
.css-1hwqkh2.Mui-selected {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(0, 0, 0, 0.08);
}
.css-1hwqkh2.Mui-selected:hover {
    background-color: rgba(0, 0, 0, 0.12);
}
@media (hover: none) {
    .css-1hwqkh2.Mui-selected:hover {
        background-color: rgba(0, 0, 0, 0.08);
    }
}
.css-1yxmbwk {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media print {
    .css-1yxmbwk {
        print-color-adjust: exact;
    }
}
.css-1yxmbwk:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
@media (hover: none) {
    .css-1yxmbwk:hover {
        background-color: transparent;
    }
}
.css-o9ey65 {
    overflow: auto;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
}
.css-o9ey65:last-child {
    padding: 0px;
}
.css-8nphli {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 16px;
    min-height: 52px;
    padding-right: 2px;
}
@media (min-width: 600px) {
    .css-8nphli {
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media (min-width: 0px) {
    @media (orientation: landscape) {
        .css-8nphli {
            min-height: 48px;
        }
    }
}
@media (min-width: 600px) {
    .css-8nphli {
        min-height: 64px;
    }
}
@media (min-width: 0px) and (orientation: landscape) {
    .css-8nphli {
        min-height: 52px;
    }
}
@media (min-width: 600px) {
    .css-8nphli {
        min-height: 52px;
        padding-right: 2px;
    }
}
.css-8nphli .MuiTablePagination-actions {
    flex-shrink: 0;
    margin-left: 20px;
}
.css-1mrwq1p {
    flex: 1 1 100%;
}
.css-1chpzqh {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    flex-shrink: 0;
}
.css-rmmij8 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    box-sizing: border-box;
    position: relative;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    color: inherit;
    font-size: inherit;
    flex-shrink: 0;
    margin-right: 32px;
    margin-left: 8px;
}
.css-rmmij8 .MuiTablePagination-select {
    padding-left: 8px;
    padding-right: 24px;
    text-align: right;
    text-align-last: right;
}
.css-1cccqvr {
    appearance: none;
    user-select: none;
    border-radius: 0px;
    cursor: pointer;
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    padding: 4px 0px 5px;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
}
.css-1cccqvr:focus {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0px;
}
.css-1cccqvr.css-1cccqvr.css-1cccqvr {
    padding-right: 24px;
    min-width: 16px;
}
.css-1cccqvr.MuiSelect-select {
    height: auto;
    min-height: 1.4375em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.css-1cccqvr:focus {
    outline: 0px;
}
.css-1cccqvr:invalid {
    box-shadow: none;
}
.css-1k3x8v3 {
    bottom: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    box-sizing: border-box;
}
.css-1utq5rl {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 1.5rem;
    position: absolute;
    right: 0px;
    top: calc(50% - 0.5em);
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
}
.css-1deacqj {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    color: inherit;
}
.css-1deacqj.Mui-disabled {
    pointer-events: none;
    cursor: default;
}
@media print {
    .css-1deacqj {
        print-color-adjust: exact;
    }
}
.css-1deacqj:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
@media (hover: none) {
    .css-1deacqj:hover {
        background-color: transparent;
    }
}
.css-1deacqj.Mui-disabled {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.26);
}
.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 1.5rem;
}
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}
.css-3mf706 {
    display: flex;
    user-select: none;
    margin-left: 8px;
    margin-right: 8px;
}
/*! CSS Used from: Embedded */
[data-radix-scroll-area-viewport] {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}
[data-radix-scroll-area-viewport]::-webkit-scrollbar {
    display: none;
}
/*! CSS Used from: Embedded */
[data-radix-scroll-area-viewport] {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}
[data-radix-scroll-area-viewport]::-webkit-scrollbar {
    display: none;
}
/*! CSS Used from: Embedded */
[data-radix-scroll-area-viewport] {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}
[data-radix-scroll-area-viewport]::-webkit-scrollbar {
    display: none;
}
/*! CSS Used from: Embedded */
[data-radix-scroll-area-viewport] {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}
[data-radix-scroll-area-viewport]::-webkit-scrollbar {
    display: none;
}
/*! CSS Used keyframes */
@-webkit-keyframes mui-auto-fill-cancel {
    0% {
        display: block;
    }
}
@keyframes mui-auto-fill-cancel {
    0% {
        display: block;
    }
}
