/*! CSS Used from: https://vanij.adya.ai/assets/index-Gr8ZDnGk.css */
.pointer-events-none {
    pointer-events: none !important;
}

.absolute {
    position: absolute !important;
}

.relative {
    position: relative !important;
}

.left-4 {
    left: 1rem !important;
}

.top-1\/2 {
    top: 50% !important;
}

.mr-2 {
    margin-right: .5rem !important;
}

.mt-5 {
    margin-top: 1.25rem !important;
}

.flex {
    display: flex !important;
}

.inline-flex {
    display: inline-flex !important;
}

.grid {
    display: grid !important;
}

.aspect-square {
    aspect-ratio: 1 / 1 !important;
}

.h-20 {
    height: 5rem !important;
}

.h-4 {
    height: 1rem !important;
}

.h-5 {
    height: 1.25rem !important;
}

.h-6 {
    height: 1.5rem !important;
}

.h-8 {
    height: 2rem !important;
}

.h-9 {
    height: 2.25rem !important;
}

.h-auto {
    height: auto !important;
}

.h-full {
    height: 100% !important;
}

.w-0 {
    width: 0px !important;
}

.w-4 {
    width: 1rem !important;
}

.w-5 {
    width: 1.25rem !important;
}

.w-6 {
    width: 1.5rem !important;
}

.w-64 {
    width: 16rem !important;
}

.w-8 {
    width: 2rem !important;
}

.w-9 {
    width: 2.25rem !important;
}

.w-fit {
    width: -moz-fit-content !important;
    width: fit-content !important;
}

.w-full {
    width: 100% !important;
}

.min-w-64 {
    min-width: 16rem !important;
}

.max-w-96 {
    max-width: 24rem !important;
}

.max-w-full {
    max-width: 100% !important;
}

.flex-1 {
    flex: 1 1 0% !important;
}

.shrink-0 {
    flex-shrink: 0 !important;
}

.-translate-y-1\/2 {
    --tw-translate-y: -50% !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.flex-col {
    flex-direction: column !important;
}

.items-center {
    align-items: center !important;
}

.justify-start {
    justify-content: flex-start !important;
}

.justify-center {
    justify-content: center !important;
}

.justify-between {
    justify-content: space-between !important;
}

.gap-0 {
    gap: 0px !important;
}

.gap-1\.5 {
    gap: .375rem !important;
}

.gap-2 {
    gap: .5rem !important;
}

.gap-3 {
    gap: .75rem !important;
}

.gap-5 {
    gap: 1.25rem !important;
}

.gap-x-4 {
    -moz-column-gap: 1rem !important;
    column-gap: 1rem !important;
}

.space-y-3>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0 !important;
    margin-top: calc(.75rem * calc(1 - var(--tw-space-y-reverse))) !important;
    margin-bottom: calc(.75rem * var(--tw-space-y-reverse)) !important;
}

.space-y-6>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0 !important;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse))) !important;
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse)) !important;
}

.overflow-auto {
    overflow: auto !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.overflow-x-auto {
    overflow-x: auto !important;
}

.truncate {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.whitespace-nowrap {
    white-space: nowrap !important;
}

.rounded-full {
    border-radius: 9999px !important;
}

.rounded-lg {
    border-radius: var(--radius) !important;
}

.rounded-md {
    border-radius: calc(var(--radius) - 2px) !important;
}

.rounded-xl {
    border-radius: .75rem !important;
}

.border {
    border-width: 1px !important;
}

.border-0 {
    border-width: 0px !important;
}

.border-2 {
    border-width: 2px !important;
}

.border-background {
    border-color: hsl(var(--background)) !important;
}

.border-border {
    border-color: hsl(var(--border)) !important;
}

.border-input {
    border-color: hsl(var(--input)) !important;
}

.border-primary {
    border-color: hsl(var(--primary)) !important;
}

.bg-background {
    background-color: hsl(var(--background)) !important;
}

.bg-green-100 {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(220 252 231 / var(--tw-bg-opacity)) !important;
}

.bg-muted {
    background-color: hsl(var(--muted)) !important;
}

.bg-muted\/30 {
    background-color: hsl(var(--muted) / .3) !important;
}

.bg-primary\/5 {
    background-color: hsl(var(--primary) / .05) !important;
}

.bg-\[size\:200\%_200\%\] {
    background-size: 200% 200% !important;
}

.object-cover {
    -o-object-fit: cover !important;
    object-fit: cover !important;
}

.object-center {
    -o-object-position: center !important;
    object-position: center !important;
}

.p-2 {
    padding: .5rem !important;
}

.px-2 {
    padding-left: .5rem !important;
    padding-right: .5rem !important;
}

.px-3 {
    padding-left: .75rem !important;
    padding-right: .75rem !important;
}

.px-4 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.px-6 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.py-0\.5 {
    padding-top: .125rem !important;
    padding-bottom: .125rem !important;
}

.py-1 {
    padding-top: .25rem !important;
    padding-bottom: .25rem !important;
}

.py-1\.5 {
    padding-top: .375rem !important;
    padding-bottom: .375rem !important;
}

.py-2 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}

.pb-4 {
    padding-bottom: 1rem !important;
}

.pl-10 {
    padding-left: 2.5rem !important;
}

.pt-4 {
    padding-top: 1rem !important;
}

.text-left {
    text-align: left !important;
}

.text-2xl {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
}

.text-base {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
}

.text-lg {
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
}

.text-sm {
    font-size: .875rem !important;
    line-height: 1.25rem !important;
}

.text-xl {
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
}

.text-xs {
    font-size: .75rem !important;
    line-height: 1rem !important;
}

.font-medium {
    font-weight: 500 !important;
}

.font-normal {
    font-weight: 400 !important;
}

.font-semibold {
    font-weight: 600 !important;
}

.uppercase {
    text-transform: uppercase !important;
}

.capitalize {
    text-transform: capitalize !important;
}

.\!text-foreground {
    color: hsl(var(--foreground)) !important;
}

.text-\[\#363636\] {
    --tw-text-opacity: 1 !important;
    color: rgb(54 54 54 / var(--tw-text-opacity)) !important;
}

.text-foreground {
    color: hsl(var(--foreground)) !important;
}

.text-gray-500 {
    --tw-text-opacity: 1 !important;
    color: rgb(107 114 128 / var(--tw-text-opacity)) !important;
}

.text-green-700 {
    --tw-text-opacity: 1 !important;
    color: rgb(21 128 61 / var(--tw-text-opacity)) !important;
}

.text-muted-foreground {
    color: hsl(var(--muted-foreground)) !important;
}

.text-muted-foreground\/50 {
    color: hsl(var(--muted-foreground) / .5) !important;
}

.text-secondary-foreground {
    color: hsl(var(--secondary-foreground)) !important;
}

.opacity-0 {
    opacity: 0 !important;
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05) !important;
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.ring-offset-background {
    --tw-ring-offset-color: hsl(var(--background)) !important;
}

.transition-\[background-position\] {
    transition-property: background-position !important;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1) !important;
    transition-duration: .15s !important;
}

.transition-all {
    transition-property: all !important;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1) !important;
    transition-duration: .15s !important;
}

.transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke !important;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1) !important;
    transition-duration: .15s !important;
}

.transition-transform {
    transition-property: transform !important;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1) !important;
    transition-duration: .15s !important;
}

.duration-200 {
    transition-duration: .2s !important;
}

.duration-300 {
    transition-duration: .3s !important;
}

.duration-500 {
    transition-duration: .5s !important;
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1) !important;
}

.duration-200 {
    animation-duration: .2s !important;
}

.duration-300 {
    animation-duration: .3s !important;
}

.duration-500 {
    animation-duration: .5s !important;
}

.ease-in-out {
    animation-timing-function: cubic-bezier(.4, 0, .2, 1) !important;
}

:focus-visible {
    outline: none !important;
    outline-offset: 0px !important;
}

.placeholder\:text-muted-foreground::placeholder {
    color: hsl(var(--muted-foreground)) !important;
}

.hover\:z-50:hover {
    z-index: 50 !important;
}

.hover\:scale-110:hover {
    --tw-scale-x: 1.1 !important;
    --tw-scale-y: 1.1 !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.hover\:bg-muted:hover {
    background-color: hsl(var(--muted)) !important;
}

.hover\:bg-muted\/50:hover {
    background-color: hsl(var(--muted) / .5) !important;
}

.hover\:shadow-sm:hover {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05) !important;
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.focus\:outline-none:focus {
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
}

.focus\:ring-2:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
}

.focus\:ring-ring:focus {
    --tw-ring-color: hsl(var(--ring)) !important;
}

.focus\:ring-offset-2:focus {
    --tw-ring-offset-width: 2px !important;
}

.disabled\:pointer-events-none:disabled {
    pointer-events: none !important;
}

.disabled\:cursor-not-allowed:disabled {
    cursor: not-allowed !important;
}

.disabled\:bg-muted:disabled {
    background-color: hsl(var(--muted)) !important;
}

.disabled\:\!text-muted-foreground:disabled {
    color: hsl(var(--muted-foreground)) !important;
}

.disabled\:text-foreground\/50:disabled {
    color: hsl(var(--foreground) / .5) !important;
}

.disabled\:opacity-100:disabled {
    opacity: 1 !important;
}

.disabled\:opacity-50:disabled {
    opacity: .5 !important;
}

.group:hover .group-hover\:pointer-events-auto {
    pointer-events: auto !important;
}

.group:hover .group-hover\:w-16 {
    width: 4rem !important;
}

.group:hover .group-hover\:rotate-180 {
    --tw-rotate: 180deg !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.group:hover .group-hover\:pl-1 {
    padding-left: .25rem !important;
}

.group:hover .group-hover\:opacity-100 {
    opacity: 1 !important;
}

.data-\[state\=active\]\:bg-primary\/10[data-state=active] {
    background-color: hsl(var(--primary) / .1) !important;
}

.data-\[state\=active\]\:text-foreground[data-state=active] {
    color: hsl(var(--foreground)) !important;
}

.data-\[state\=active\]\:shadow[data-state=active] {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

@media (min-width: 640px) {
    .sm\:rounded-lg {
        border-radius: var(--radius) !important;
    }
}

@media (min-width: 768px) {
    .md\:text-sm {
        font-size: .875rem !important;
        line-height: 1.25rem !important;
    }
}

.\[\&_svg\]\:pointer-events-none svg {
    pointer-events: none !important;
}

.\[\&_svg\]\:size-4 svg {
    width: 1rem !important;
    height: 1rem !important;
}

.\[\&_svg\]\:shrink-0 svg {
    flex-shrink: 0 !important;
}

*,
:before,
:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

:before,
:after {
    --tw-content: "";
}

h2 {
    font-size: inherit;
    font-weight: inherit;
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
}

button,
input {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

button {
    text-transform: none;
}

button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

h2,
p {
    margin: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

legend {
    padding: 0;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

input::placeholder {
    opacity: 1;
    color: #9ca3af;
}

button {
    cursor: pointer;
}

:disabled {
    cursor: default;
}

img,
svg {
    display: block;
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    border-color: hsl(var(--border));
}

*,
:before,
:after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
}

/*! CSS Used from: Embedded */
.css-o3d33y {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.6);
}

.css-nhb8h9 {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.MuiAutocomplete-hasPopupIcon.css-ofh9r .MuiAutocomplete-inputRoot {
    padding-right: 30px;
}

.css-ofh9r .MuiAutocomplete-inputRoot .MuiAutocomplete-input {
    width: 0px;
    min-width: 30px;
}

.css-ofh9r .MuiOutlinedInput-root {
    padding: 9px;
}

.MuiAutocomplete-hasPopupIcon.css-ofh9r .MuiOutlinedInput-root {
    padding-right: 39px;
}

.css-ofh9r .MuiOutlinedInput-root .MuiAutocomplete-input {
    padding: 7.5px 4px 7.5px 5px;
}

.css-ofh9r .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
    right: 9px;
}

.css-ofh9r .MuiOutlinedInput-root.MuiInputBase-sizeSmall {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
}

.css-ofh9r .MuiOutlinedInput-root.MuiInputBase-sizeSmall .MuiAutocomplete-input {
    padding: 2.5px 4px 2.5px 8px;
}

.css-ofh9r .MuiAutocomplete-input {
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-overflow: ellipsis;
    opacity: 0;
}

.css-ofh9r .MuiAutocomplete-input {
    opacity: 1;
}

.css-ofh9r .MuiAutocomplete-popupIndicator {
    transform: none !important;
}

.css-1nx4p1j {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
    width: 100%;
}

.css-1nx4p1j .MuiInputBase-root {
    border-radius: 0.75rem;
    background-color: hsl(var(--background));
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.css-segi59 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    position: relative;
    border-radius: 4px;
    padding-right: 14px;
}

.css-segi59:hover .MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.87);
}

@media (hover: none) {
    .css-segi59:hover .MuiOutlinedInput-notchedOutline {
        border-color: rgba(0, 0, 0, 0.23);
    }
}

.css-b52kj1 {
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 8.5px 0px 8.5px 14px;
}

.css-b52kj1:focus {
    outline: 0px;
}

.css-b52kj1:invalid {
    box-shadow: none;
}

.css-mxlkbn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0px, -50%);
}

.css-uge3vf {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px -2px 0px 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 2px;
}

@media print {
    .css-uge3vf {
        print-color-adjust: exact;
    }
}

.css-uge3vf:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

@media (hover: none) {
    .css-uge3vf:hover {
        background-color: transparent;
    }
}

.css-igs3ac {
    text-align: left;
    position: absolute;
    inset: -5px 0px 0px;
    margin: 0px;
    padding: 0px 8px;
    pointer-events: none;
    border-radius: inherit;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 0%;
    border-color: rgba(0, 0, 0, 0.23);
}

.css-ihdtdm {
    float: unset;
    width: auto;
    overflow: hidden;
    padding: 0px;
    line-height: 11px;
    transition: width 150ms cubic-bezier(0, 0, 0.2, 1);
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-13xy2my {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    width: 100%;
    overflow-x: auto;
}

.css-1owb465 {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
}

.css-1wbz3t9 {
    display: table-header-group;
}

.css-1gqug66 {
    color: inherit;
    display: table-row;
    vertical-align: middle;
    outline: 0px;
}

.css-1bigob2 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid rgb(224, 224, 224);
    text-align: left;
    padding: 16px;
    color: rgba(0, 0, 0, 0.87);
}

.css-1xnox0e {
    display: table-row-group;
}

.css-q34dxg {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid rgb(224, 224, 224);
    text-align: left;
    padding: 16px;
    color: rgba(0, 0, 0, 0.87);
}

.css-1ucdbub {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid rgb(224, 224, 224);
    text-align: left;
    padding: 16px;
    color: rgba(0, 0, 0, 0.87);
    max-width: 10rem;
}

.css-o9ey65 {
    overflow: auto;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
}

.css-o9ey65:last-child {
    padding: 0px;
}

.css-8nphli {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 16px;
    min-height: 52px;
    padding-right: 2px;
}

@media (min-width: 600px) {
    .css-8nphli {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 0px) {
    @media (orientation: landscape) {
        .css-8nphli {
            min-height: 48px;
        }
    }
}

@media (min-width: 600px) {
    .css-8nphli {
        min-height: 64px;
    }
}

@media (min-width: 0px) and (orientation: landscape) {
    .css-8nphli {
        min-height: 52px;
    }
}

@media (min-width: 600px) {
    .css-8nphli {
        min-height: 52px;
        padding-right: 2px;
    }
}

.css-8nphli .MuiTablePagination-actions {
    flex-shrink: 0;
    margin-left: 20px;
}

.css-1mrwq1p {
    flex: 1 1 100%;
}

.css-1chpzqh {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    flex-shrink: 0;
}

.css-rmmij8 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    box-sizing: border-box;
    position: relative;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    color: inherit;
    font-size: inherit;
    flex-shrink: 0;
    margin-right: 32px;
    margin-left: 8px;
}

.css-rmmij8 .MuiTablePagination-select {
    padding-left: 8px;
    padding-right: 24px;
    text-align: right;
    text-align-last: right;
}

.css-1cccqvr {
    appearance: none;
    user-select: none;
    border-radius: 0px;
    cursor: pointer;
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    padding: 4px 0px 5px;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
}

.css-1cccqvr:focus {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0px;
}

.css-1cccqvr.css-1cccqvr.css-1cccqvr {
    padding-right: 24px;
    min-width: 16px;
}

.css-1cccqvr.MuiSelect-select {
    height: auto;
    min-height: 1.4375em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.css-1cccqvr:focus {
    outline: 0px;
}

.css-1cccqvr:invalid {
    box-shadow: none;
}

.css-1k3x8v3 {
    bottom: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    box-sizing: border-box;
}

.css-1utq5rl {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 1.5rem;
    position: absolute;
    right: 0px;
    top: calc(50% - 0.5em);
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
}

.css-1deacqj {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    color: inherit;
}

.css-1deacqj.Mui-disabled {
    pointer-events: none;
    cursor: default;
}

@media print {
    .css-1deacqj {
        print-color-adjust: exact;
    }
}

.css-1deacqj:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

@media (hover: none) {
    .css-1deacqj:hover {
        background-color: transparent;
    }
}

.css-1deacqj.Mui-disabled {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.26);
}

.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 1.5rem;
}

/*! CSS Used keyframes */
@-webkit-keyframes mui-auto-fill-cancel {
    0% {
        display: block;
    }
}

@keyframes mui-auto-fill-cancel {
    0% {
        display: block;
    }
}

@-webkit-keyframes mui-auto-fill-cancel {
    0% {
        display: block;
    }
}

@keyframes mui-auto-fill-cancel {
    0% {
        display: block;
    }
}